body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #2E2E2E;
    color: white;
}

header, footer {
    width: 100%;
    padding: auto;
    margin: 0;
    background-color: #1E3A5F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header ul, footer ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
}
.shortcut-nav-item {
    width: 200px;
    height: 40px;
    padding: 0.5em 1.2em;
    margin: 10px;
    background-color: #5E5E5E;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.shortcut-nav-item:hover {
    background-color: #6E6E6E;
}

.shortcut-nav-item:visited {
    color: white;
}

.shortcut-nav-item:active {
    box-shadow: 4px 8px 6px gray inset;
}


main {
    max-width: 1000px;
    margin: 1em auto;

    padding: 3em 0em;
    background-color: #4E4E4E;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50px;
}

#disclamer {
    max-width: 800px;
    border-radius: 50px;
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.2);
}
#disclamer h2 {
    margin-left: 50px;
}

#home-type-chooser {
    margin-top : 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home-type-chooser > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-type-item {
    width: 300px;
    height: 200px;
    background-color: #5E5E5E;
    border: 7px solid #1E3A5F;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 3em;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    background-color: #6E6E6E;
}

.btn:visited {
    color: white;
}

.btn:active {
    box-shadow: 4px 8px 6px gray inset;
}


.psc-learn-item {
    width: 80%;
    height: 150px;
    background-color: #5E5E5E;
    border: 7px solid #1E3A5F;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    color: white;
}

.module-learn-article {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-left: 30px;
    background-color: #5E5E5E;
    border-radius: 50px;
    margin: 2em 0;
}
